<div class="bodie-container">
  <div class="login-square">
    <div class="login-title">
      <h3 class="text-black-50">Sign In</h3>
    </div>
    <input type="text" class="login-input" placeholder="Usuario" [(ngModel)]="username">
    <input type="password" class="login-input" placeholder="Contraseña" [(ngModel)]="password">
    <input type="password" class="login-input" placeholder="Repita la contraseña" [(ngModel)]="password2">
    <button class="login-button text-black-50" (click)="signin()">Registrarse</button>
  </div>
</div>